[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/khut-pidor
[access "refs/for/refs/*"]
	read = group user/khut-pidor
	push = group user/khut-pidor
	label-Code-Review = -2..+2 group user/khut-pidor
	label-Verified = -1..+1 group user/khut-pidor
	rebase = group user/khut-pidor
	removeReviewer = group user/khut-pidor
	submit = group user/khut-pidor
[access "refs/heads/*"]
	read = group user/khut-pidor
	create = group user/khut-pidor
	push = +force group user/khut-pidor
	pushMerge = group user/khut-pidor
[access "refs/tags/*"]
	push = group user/khut-pidor
	push = +force group user/khut-pidor
